.btn-inicio {
    --background: #0B253E;
    --color: #ffffff;
    --border-radius: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.btn-inicio:active{
    --background: #0c253b;
    --color: #ffffff;
}

.titulo{
    display: flex;
    font-weight: bold;
    color: #ffffff;
    justify-content: center; 
    align-items: center; 
    height: 20%;
}

.inputR {
    color: white;
    text-shadow: 1px 1px 0 black, 
                 -1px -1px 0 black, 
                 1px -1px 0 black, 
                 -1px 1px 0 black;
}

.logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
