<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="inicio()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bkgrnd" [fullscreen]="true">
  <div class="logo">
    <img class="logo-title" src="../../../assets/img/Logo_DuocUC.svg.png" alt="Logo" style="height: 50px;">
  </div>
  <!-- Input Usuario -->
  <ion-item lines="inset" class="ion-margin-top inputR custom-line">
    <ion-input [(ngModel)]='mdl_new_user' label="Nombre usuario:" labelPlacement="floating" placeholder="Ingresa un nombre de usuario" class="label"></ion-input>
  </ion-item>
  <small *ngIf="errorUser" class="errorMessagge">{{errorUser}}</small>

  <!-- Input Correo -->
  <ion-item class="ion-margin-top inputR">
    <ion-input [(ngModel)]='mdl_email' type="email" label="Correo:" labelPlacement="floating" placeholder="Ingresa tu correo" class="label"></ion-input>
  </ion-item>
  <small *ngIf="errorCorreo" class="errorMessagge">{{errorCorreo}}</small>

  <!-- Input Contraseña -->
  <ion-item class="ion-margin-top inputR">
    <ion-input [(ngModel)]='mdl_new_pass' type="password" labelPlacement="floating" placeholder="Ingresa la contraseña" label="Contraseña:"></ion-input>
  </ion-item>
  <small *ngIf="errorPass" class="errorMessagge">{{errorPass}}</small>

  <!-- Input Confirmación Contraseña -->
  <ion-item class="ion-margin-top inputR">
    <ion-input [(ngModel)]='mdl_conf_pass' type="password" labelPlacement="floating" placeholder="Confirma tu contraseña" label="Confirmar contraseña:"></ion-input>
  </ion-item>
  <small *ngIf="errorConfirmPass" class="errorMessagge">{{errorConfirmPass}}</small>
  
  <!-- Input Sede -->
  <ion-item class="ion-margin-top inputR">
    <ion-label>Sede:</ion-label>
      <ion-select [(ngModel)]='mdl_location' placeholder="Selecciona tu sede">
      <ion-select-option value="Alameda">Sede Alameda</ion-select-option>
      <ion-select-option value="Padre Alonso Ovalle">Sede Padre Alonso Ovalle</ion-select-option>
      <ion-select-option value="Antonio Varas">Sede Antonio Varas</ion-select-option>
      <ion-select-option value="Educacion Continua">Sede Educacion Continua</ion-select-option>
      <ion-select-option value="Maipu">Sede Maipu</ion-select-option>
      <ion-select-option value="Melipilla">Sede Melipilla</ion-select-option>
      <ion-select-option value="Plaza Norte">Sede Plaza Norte</ion-select-option>
      <ion-select-option value="Plaza Oeste">Sede Plaza Oeste</ion-select-option>
      <ion-select-option value="Plaza Vespucio">Sede Plaza Vespucio</ion-select-option>
      <ion-select-option value="Puente Alto">Sede Puente Alto</ion-select-option>
      <ion-select-option value="San Bernardo">Sede San Bernardo</ion-select-option>
      <ion-select-option value="San Carlos de apoquindo">Sede San Carlos de apoquindo</ion-select-option>
      <ion-select-option value="San Joaquin">Sede San Joaquin</ion-select-option>
    </ion-select>
  </ion-item>
  <small *ngIf="sede" class="errorMessagge">{{sede}}</small>

  <!-- Botón para confirmar registro -->
  <ion-button (click)="registrar()" class="btn ion-margin-top" fill="solid" expand="block">
    <ion-spinner *ngIf="spinnervisible" name="circular" slot="start"></ion-spinner> 
    <span *ngIf="!spinnervisible">REGISTRARSE</span> 
    <ion-icon slot="end"></ion-icon>
  </ion-button>

  <!-- Botón volver al inicio -->
  <p style="font-size: small;" (click)="inicio()" class="ion-margin-top text-container ion-text-center titulo">
    Volver a Inicio
  </p>

  <ion-alert
  [isOpen]="isAlertOpen"
  header="Te has registrado exitosamente"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  cssClass = "custom-alert-message"
></ion-alert>
  
</ion-content>

