<ion-header [translucent]="true">
  <ion-header>
  </ion-header>
</ion-header>

<ion-content class="fondoR" [fullscreen]="true">
  <ion-title class="titulo">Registrarse</ion-title>
  <!-- Input Usuario -->
  <ion-item lines="inset" class="ion-margin-top inputR custom-line">
    <ion-input [(ngModel)]='mdl_new_user' label="Nombre usuario:" labelPlacement="floating" placeholder="Ingresa un nombre de usuario" class="label"></ion-input>
  </ion-item>

  <!-- Input Correo -->
  <ion-item class="ion-margin-top inputR">
    <ion-input [(ngModel)]='mdl_email' type="email" label="Correo:" labelPlacement="floating" placeholder="Ingresa tu correo" class="label"></ion-input>
  </ion-item>

  <!-- Input Contraseña -->
  <ion-item class="ion-margin-top inputR">
    <ion-input [(ngModel)]='mdl_new_pass' type="password" labelPlacement="floating" placeholder="Ingresa la contraseña" label="Contraseña:"></ion-input>
  </ion-item>

  <!-- Input Confirmación Contraseña -->
  <ion-item class="ion-margin-top inputR">
    <ion-input [(ngModel)]='mdl_conf_pass' type="password" labelPlacement="floating" placeholder="Confirma tu contraseña" label="Confirmar contraseña:"></ion-input>
  </ion-item>
  
  <!-- Input Sede -->
  <ion-item class="ion-margin-top inputR">
    <ion-input [(ngModel)]='mdl_location' labelPlacement="floating" placeholder="Ingresa tu sede" label="Sede:"></ion-input>
  </ion-item>

  <!-- Botón para confirmar registro -->
  <ion-button (click)="registrar()" class="btn ion-margin-top" fill="solid" expand="block">
    <ion-spinner *ngIf="spinnervisible" name="circular" slot="start"></ion-spinner> 
    <span *ngIf="!spinnervisible">REGISTRARSE</span> 
    <ion-icon slot="end"></ion-icon>
  </ion-button>

  <!-- Botón volver al inicio -->
  <p style="font-size: small;" (click)="inicio()" class="ion-margin-top text-container ion-text-center titulo">
    Volver a Inicio
  </p>
  
</ion-content>

