.btn-inicio {
    --background: #0B253E;
    --color: #ffffff;
    --border-radius: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.btn-inicio:active{
    --background: #0c253b;
    --color: #ffffff;
}

.fondoR{
    --background: #f0f0f0;
}


.titulo{
    font-weight: bold;
    color: #0B253E;
    justify-content: center; 
    align-items: center; 
    height: 20%;
}