.contenedorPerfil {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%; 
    overflow: hidden; 
    vertical-align: middle;
    margin: auto;
    display: flex;
  }

.perfilImg{
    --width: 100%;
    --height: 100%;
    object-fit: cover;
}

.bienvenida{
    align-items: center;
    justify-content: center;
    display: flex;
}

.input{
    --background:#dbdbdb;
    --color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 1px solid transparent;
}

.btn-resset-password{
    --background: #00c1ff;
    --color: #090979;
    --border-radius: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.btn-resset-password:active{
    --background: #090979;
    --color: #ffff;
}

.icons {
    font-size: 64px;
}

.ion-margin-top {
    margin-top: 20px;
  }

.ion-padding {
    margin-top: 100px;
}

.change-pass {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.warning {
    margin-top: 40px;
    text-align: center;
    color: grey;
}