<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start"><ion-icon slot="icon-only" name="pencil-outline" style="padding-left: 23px;"></ion-icon></ion-buttons>
    <ion-title> Editar datos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()"> <ion-icon slot="icon-only" name="log-out-outline"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bkgrnd">

  <!-- Foto de perfil -->
  <ion-avatar class="contenedorPerfil">
    <img alt="Silhouette of a person's head" src="../../../assets/img/Login_Icon_2a1a3edd-38c4-465a-bcee-a2ab946a7d47.webp" />
  </ion-avatar>

  <!-- Bienvenida a usuario -->
  <p class="bienvenida">Bienvenido/a</p>

    <!-- Datos de Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Usuario -->
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="person-circle-sharp" style="font-size: 64px;"></ion-icon>
          </ion-thumbnail>
          <ion-label>{{user}}</ion-label>
        </ion-item>
        <!-- Correo -->
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="mail-sharp" style="font-size: 64px;"></ion-icon>
          </ion-thumbnail>
          <ion-label>{{mail}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Botón para cambio de Contraseña -->
  <ion-button class="btn" id="open-modal" expand="block" (click)="openModal()">Cambiar Contraseña</ion-button>

  <p>{{ message }}</p>

  <!-- Modal para cambio de contraseña -->
  <ion-modal id="modal" trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <!-- Botón para cancelar cambio de contraseña -->
            <ion-button style="color: #F8B31C;" (click)="cancel()">CANCELAR</ion-button>
          </ion-buttons>
          <ion-title></ion-title>
          <ion-buttons slot="end">
            <!-- Botón confirmación cambio contraseña -->
            <ion-button style="color: #0B253E;" (click)="change_pass()" [strong]="true"> CONFIRMAR </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <!-- Input contraseña actual -->
          <ion-input class="ion-margin-top" label="Contraseña actual:" label-placement="floating" fill="outline" placeholder="Ingrese contraseña actual" type="password" [(ngModel)]="current_pass"></ion-input>
          <small class="errorMessagge" *ngIf="errorCurrentPass">{{errorCurrentPass}}</small>
          <!-- Input Nueva Contraseña -->
          <ion-input class="ion-margin-top"  label="Nueva contraseña:" label-placement="floating" fill="outline" placeholder="Ingrese nueva contraseña" type="password" [(ngModel)]="new_pass"></ion-input>
          <small class="errorMessagge" *ngIf="errorNewPass">{{errorNewPass}}</small>
          <!-- Input confirmación contraseña -->
          <ion-input class="ion-margin-top"  label="Confirmación:" label-placement="floating" fill="outline" placeholder="Repita la nueva contraseña" type="password" [(ngModel)]="confirm_pass"></ion-input>
          <small class="errorMessagge" *ngIf="errorConfirmPass">{{errorConfirmPass}}</small>
      </ion-content>
    </ng-template>
  </ion-modal>
  
    <!-- Alerta para mensaje cambio contraseña -->
    <ion-alert
    [isOpen]="isAlertOpen"
    header="Tu contraseña ha sido modificada exitosamente"
    subHeader="Tu sesión se cerrará"
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>
 
</ion-content>

<!-- Tab bar/barra de navegacion -->
<ion-footer>
  <ion-toolbar>
    <ion-tabs class="footer-tabs">
      <ion-tab-bar class="bar" slot="bottom">
        <ion-tab-button>
          <ion-icon name="qr-code"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="irHome()">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>