<ion-header [translucent]="true">
  <ion-toolbar class="barra ion-text-center">
    <img src="../../../assets/img/Logo_DuocUC.svg.png" alt="Logo" style="height: 40px;">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-item lines="none"  class="ion-margin-top input">
    <ion-input [(ngModel)]='mdl_user' label="Nombre usuario:" labelPlacement="floating" placeholder="Ingresa tu usuario" class="label"></ion-input>
  </ion-item>
  <ion-item lines="none"  class="ion-margin-top input">
    <ion-input [(ngModel)]='mdl_pass' label="Contraseña:" type="password" labelPlacement="floating" placeholder="Ingresa la contraseña"></ion-input>
  </ion-item>
  <ion-button (click)="login()" class="btn ion-margin-top" fill="solid" expand="block">
    <ion-spinner *ngIf="spinnervisible" name="dots" slot="start"></ion-spinner>Ingresar <ion-icon slot="end"></ion-icon>
  </ion-button>
  <!--<ion-item lines="none" class="item-war ion-text-center" *ngIf="warningVisible">Credenciales incorrectas</ion-item>-->
  <!--directivas: instrucciones en el html, ejemplo: *ngif(incrustacion de if)-->
  <!-- Botón para registro -->
  <p class="signup-button" (click)="signup()"> ¿No estás registrado? </p>
  <!-- Toast -->
  <ion-toast
    [isOpen]="isToastOpen"
    [message]="message"
    [duration]="duration"
    (didDismiss)="setOpen(false)"
    position="middle"
  ></ion-toast>
</ion-content>
<!--en corchetes lo busca en ts -->
