<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido {{ user }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la pantalla -->
<ion-content class="ion-padding">
  <!-- Botón para modal de cambiar contraseña -->
  <ion-button id="open-modal" expand="block">Cambiar Contraseña</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="change_pass()" [strong]="true"> Confirm </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <h1 class="centered-modal-text"> Cambia tu contraseña </h1>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Ingrese su contraseña actual"
            labelPlacement="floating"
            type="password"
            [(ngModel)]="current_pass"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Ingrese nueva contraseña"
            labelPlacement="floating"
            type="password"
            [(ngModel)]="new_pass"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Confirme contraseña"
            labelPlacement="floating"
            type="password"
            [(ngModel)]="confirm_pass"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
