<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Sede {{location}}</ion-title>
    <ion-buttons slot="end">
      <!-- Botón para cerrar sesión -->
      <ion-button (click)="cerrarSesion()"> 
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bkgrnd">
  <div class="logo">
    <img class="logo-title" src="../../../assets/img/Logo_DuocUC.svg.png" alt="Logo" style="height: 50px;">
  </div>
  <h1 class="profile-title"> ¡¡Bienvenido/a {{ user }}!! </h1>
    <ion-card>
      <img alt="Silhouette of mountains" [src]="sedePhoto"/>
      <ion-card-header>
        <ion-card-subtitle>Estás matriculado en</ion-card-subtitle>
        <ion-card-title> Sede: {{ location }} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ adress }}
      </ion-card-content>
    </ion-card>
    <p class="description">Con esta nueva aplicación podrás registrar tu asistencia, buscamos mejorar tu experiencia en
      DuocUC y hacer nuestras clases cada vez más eficientes</p>
</ion-content>


<!-- Tab bar/barra de navegacion -->
<ion-footer>
  <ion-toolbar>
    <ion-tabs class="footer-tabs">
      <ion-tab-bar class="bar" slot="bottom">
        <ion-tab-button>
          <ion-icon name="qr-code"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="irHome()">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="irResetPassword()">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>