/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

//login y registro
.btn{
    --background: #F8B31C;
    --color: #0B253E;
    --border-radius: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn:hover{
    --background: #090979;
    --color:#ffff;
}

//login y registro
.fondo{
    --background: #0B253E;
}

.input{
    --background:#fff;
    --color: #0B253E;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 85%;
    border: 1px solid transparent;
}

.inputR{
    --background: transparent;
    --color: #0B253E;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 85%;
    border-bottom: 1px solid #0B253E;
}

.label{
    --highlight-color: #0B253E;
}

/* .item-war{
    --background: #ffd900;
    font-weight: bold;
    --color:#790097;
    border-radius: 5%;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} */

//alerta de credenciales incorrectas
ion-toast {
    --background: #ffd745;
    --color: #000000;
    --border-radius: 10px;
    --max-width: 90%;
  }

.icono{
    --color: #cccccc !important;
  }
.icono-presionado{
    --color: #8b0000 !important;
  }

.centered-modal-text {
  text-align: center;
}

//registro link
.registerQ{
    color: grey;
}

.signup-button {
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

//css tab bar
.bar{
    --color: #002138;
    --background: #f0f0f0;
}